<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="weatherIntent" type="Parmalen.Weather.WeatherIntentConfiguration, Parmalen.Weather"/>
  </configSections>
  <weatherIntent eSpeakPath="C:\Program Files (x86)\eSpeak\command_line\espeak.exe" voiceName="es-la"
                 weatherUnits="metric" weatherLanguage="es" weatherApiKey="***REMOVED***"/>
</configuration>